@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

p {
    font-family:"DM Sans"
}

:root {
  --swiper-navigation-size: 24px !important;


}
.cls-1,.cls-2{stroke:#000;stroke-miterlimit:10;stroke-width:12px;}.cls-2{fill:#fff;}

.backgroundImage {
  overflow:hidden;
  position:fixed;
  width:150%;
}

.container {
  height:100vh;
}
body {
    opacity: 1;
    animation: fade 2s linear;
}


@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}

.swiper-button-next, .swiper-button-prev {
  color:darkgrey !important;
  width:3vh !important;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}